  body.responsive-admin a.menu-icon-piklist_demo img {
    width: 18px;
    height: 16px;
  }


  .piklist-demo-help-source {
    clear: both;
  }
  
    .piklist-demo-help-source code {
      max-width: 100%;
    }

  .demo-highlight,
  .piklist-meta-box-none.postbox h3.demo-highlight {
    border: 1px solid #000 !important;
  }