
/* --------------------------------------------------------------------------------
  WordPress Style Updates
--------------------------------------------------------------------------------- */  
  
  .inside ol {
    margin: 0 0 1em 1.5em;
  }
  
  

  
/* --------------------------------------------------------------------------------
  Styles ffor Piklist
--------------------------------------------------------------------------------- */
    
  /* Styles for the add-on field (admin) */
  .piklist-field-add-on {
    width: 210px;
    min-height: 150px;
    position: relative;
    float: left;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 0 15px 15px 0;
    background-color: #f1f1f1;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
    
    .piklist-field-add-on h3 {
      margin-top: 0px;
    }
    
    .piklist-field-add-on .piklist-field-add-on-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    
    .piklist-field-add-on .piklist-field-add-on-button-settings {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  
  /* Additional style to show off extra information in meta box titles */
  .stuffbox h3 .piklist-title-right,
  .postbox h3 .piklist-title-right {
    float: right;
    font-size: 75%;
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
    .stuffbox h3 .piklist-title-right {
      margin-right: 17px;
    }
    
  /* Adjustment to style checkboxes and radio buttons better */
  .piklist-field-list {
    margin-top: 0px;
  }

    .piklist-field-list-item {
      display: inline-block;
      padding-left: 18px;
      text-indent: -18px;
    }
    
  /* Default Label Improvement */
  .piklist-meta-box label,
  .piklist-meta-box .piklist-label {
    font-weight: bold;
    vertical-align: middle;
    text-shadow: white 0 1px 0;
  }
  
    .piklist-meta-box .piklist-field-list-item {
      font-weight: normal;
    }

  /* Plugin Icon */
  #icon-piklist-page {
    background-image: url('../img/piklist-page-icon-32.png');
    background-repeat: no-repeat;
  }

  /* Additional Divider for Tabs View */
  .piklist-tab-divider {
    visibility: hidden; 
    margin: 0.25em 0 0.25em 0;
  }

  /* Slight position adjustment for child labels */
  .piklist-child-label {
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
  


/* --------------------------------------------------------------------------------
  Make the default jQuery UI Datepicker & Timepicker fit a little beter in 
  the admin
--------------------------------------------------------------------------------- */
  
  body.admin-color-fresh .ui-widget {
    border-color: #DFDFDF;
  }
  
    body.admin-color-fresh .ui-widget-header {
      border-color: #DFDFDF;
      background-color: #f1f1f1; /* Fallback */
      background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); /* IE10 */
      background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); /* Firefox */
      background-image: -o-linear-gradient(top, #f9f9f9, #ececec); /* Opera */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec)); /* old Webkit */
      background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec); /* new Webkit */
      background-image: linear-gradient(top, #f9f9f9, #ececec); /* proposed W3C Markup */    
    }
    
  body.admin-color-classic .ui-widget {
    border-color: #D1E5EE;
  }

    body.admin-color-classic .ui-widget-header {
      border-color: #D1E5EE;
      background-color: #f5fafd; /* Fallback */
      background-image: -ms-linear-gradient(top, #f7fcfe, #eff8ff); /* IE10 */
      background-image: -moz-linear-gradient(top, #f7fcfe, #eff8ff); /* Firefox */
      background-image: -o-linear-gradient(top, #f7fcfe, #eff8ff); /* Opera */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7fcfe), to(#eff8ff)); /* old Webkit */
      background-image: -webkit-linear-gradient(top, #f7fcfe, #eff8ff); /* new Webkit */
      background-image: linear-gradient(top, #f7fcfe, #eff8ff); /* proposed W3C Markup */  
    }
  
  .ui-datepicker {
    font-size: 1em !important;
  }
  
    .ui-datepicker th,
    .ui-datepicker-title {
      font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
      font-weight: normal;
    }
 
  div.time-picker {
    position: absolute;
    height: 191px;
    width: 4.5em;
    overflow: auto;
    overflow-x: hidden;
    background: #ffffff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
  }

    div.time-picker-12hours {
      width: 6em;
    }

    div.time-picker ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    div.time-picker li {
      cursor: pointer;
      font-size: .8em;
      padding: .25em;
    }
    
    div.time-picker li.selected {
      background: #0063CE;
      color: #ffffff;
    }
    
 
  
/* --------------------------------------------------------------------------------
  Updates to WP-Tab Classes
  - These should be submitted as patches to the core 
--------------------------------------------------------------------------------- */

  #post-body ul.wp-tab-bar { 
    float: left; 
    width: 120px; 
    text-align: right; 
    
    /* Negative margin for the sake of those without JS: all tabs display */
    margin: 0 -120px 0 5px;
    padding: 0;
  } 
    
    #side-sortables ul.wp-tab-bar { 
      margin: 8px 0 3px; 
    } 

    #post-body ul.wp-tab-bar a { 
      text-decoration: underline; 
    }
   
    #post-body ul.wp-tab-bar li {
      padding: 8px; 
      display: block; 
    } 
   
      #post-body ul.wp-tab-bar li { 
        padding: 8px; 
      } 
   
        #post-body ul.wp-tab-bar li.wp-tab-active { 
          border-style: solid none solid solid; 
          border-width: 1px 0 1px 1px;
          -webkit-border-top-left-radius: 3px; 
          -webkit-border-bottom-left-radius: 3px; 
          -webkit-border-top-right-radius: 0px; 
          border-top-left-radius: 3px; 
          border-bottom-left-radius: 3px; 
          border-top-right-radius: 0px; 
          margin-right: -1px
        } 
      
          #post-body ul.wp-tab-bar li.wp-tab-active a { 
            font-weight: bold;
            text-decoration: none;
          }
   
  #post-body div.wp-tab-panel { 
    margin: 0 5px 5px 125px; 
  } 
  
    #post-body div.wp-tab-panel-resize {
      height: auto;
      min-height: 200px;
    }
    
    div.wp-tab-panel h4 {
      margin-top: 0.25em;
    }
    
    div.wp-tab-panel-active { 
      display: block; 
    } 
   
    div.wp-tab-panel-inactive { 
      display: none; 
    } 

  .has-right-sidebar #side-sortables ul.wp-tab-bar li { 
    display: inline; 
    line-height: 1.35em; 
  } 
   
  .no-js #side-sortables ul.wp-tab-bar li.hide-if-no-js { 
    display: none; 
  }
  
  

/* --------------------------------------------------------------------------------
  Extra Styles for the core plugin settings pages
--------------------------------------------------------------------------------- */

  ul.piklist-social-icons li {
    float: left;
    width: 120px;
  }

    ul.piklist-social-icons li a {
      background-repeat: no-repeat;
      display: block;
      height: 24px;
      padding: 5px 0 0 30px;
      color: #000000;
      text-decoration: none;
    }
    
    ul.piklist-social-icons li a.news {
      background-image: url("../img/glyphicons_399_e-mail.png");
    }

    ul.piklist-social-icons li a.facebook {
      background-image: url("../img/glyphicons_390_facebook.png");
    }

    ul.piklist-social-icons li a.twitter {
      background-image: url("../img/glyphicons_391_twitter_t.png");
    }

    ul.piklist-social-icons li a.tweet {
      background-image: url("../img/glyphicons_392_twitter.png");
    }

    ul.piklist-social-icons li a.google-plus {
      background-image: url("../img/glyphicons_386_google_plus.png");
    }

